.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: hsl(0, 0%, 8%);
}
.design {
  width: 450px;
  margin: auto;
  text-align: center;
  background-color: hsl(0, 0%, 12%);
  padding: 50px;
}
img {
  border-radius: 50%;
}
h1,
.text-info {
  color: white;
}
.location {
  text-transform: capitalize;
  font-size: 14px;
  color: hsl(75, 94%, 57%);
}
.button-style {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 20%;
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  flex-direction: column;
}

.button-style:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
}
